extends layout

block content
  h1 Pivotal Tracker Stories

  p 
    each story in stories
      div
        p Goal: 
          =story.name
        p Status: 
          =story.current_state
        p Difficulty:
          div(class=(story.estimate === 1 ? "one" : story.estimate === 2 ? "two" : story.estimate === 3 ? "three" : undefined))
            =story.estimate
          
